<div class="container-fluid contact">
    <div class="container-fluid">
        <h1>Contact</h1>
        <p>I'm available for work.
            Drop me a line if you fancy a chat.
        </p>
        <ul>
            <li>
                <fa-icon [icon]="faPhone" class="icon"></fa-icon>
                <p class="text">0647381307</p>
            </li>
            <li>
                <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
                <p class="text">americochiclana@gmail.com</p>
            </li>
            <li>
                <fa-icon [icon]="faMapPin" class="icon"></fa-icon>
                <p class="text">Amsterdam, Netherlands</p>
            </li>
        </ul>
    <div>
</div>
