<div class="container-fluid">
        <h1>About me</h1>
        <p>Hi! <img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="30"/> I´m Américo Roca, I´m originally from Madrid (Spain).
                <br>
                Since I was little I have always liked the world of computing, the internet was a great discovery for me since I was fascinated by the websites I used to navigate back then, such as Wikipedia among many others to help me with my homework. <br>
                During the high school recess, I sneaked into the computer room where I made my first website, with HTML, a fundamental web page since at that time neither the technology was that developed, nor was I that well informed.
                <br>
               <br> I grew up and reached adolescence... what a wrong time, right? 
               <br><br>
               Let's just say that back then I was more interested in hanging out with friends than studying, so I finished high school and went to work.
                After a long time working in different things, waiter, sales assistant, stocker, etc., where I have gained a lot of experience in dealing with customers. <br>
                I continued with my concern for the creation of applications and websites, that year many things changed in my life and I moved to Amsterdam (Holland). <br>
                That year I started to take up creating web pages again and started studying HTML, CSS, and javascript at "FreeCodeCamp" where I learned the basics of creating web pages.
                
                <br><br> Since I was always working, I didn't have much time to dedicate to it, but that year 2020... changed everyone's life, including mine.
                I lost my job, due to the pandemic... but you always have to look on the positive side of things, now I had time to study, so I signed up for the Higher Technician course in web development at the Universitat Oberta de Catalunya, which would last two years.
                In this course, I have learned the fundamentals of programming, object-oriented programming, design, and creation of databases and many programming languages, which has allowed me to have a wide knowledge of both the frontend and the backend.
                <br>
                <br>
                Apart from this course, I have continued to do personal projects on my own time, which has allowed me to further develop my knowledge and skills.
                Here I leave you a small summary of the technologies with which I have worked:
                <app-code></app-code>
                <br>
                After finishing my studies and getting my first job as a junior frontend developer, I still wanted to continue studying and expanding my knowledge, so I decided to start studying for a degree in Applied Data Science, also at the Universitat Oberta de Catalunya, which I hope to finish around 2026.
        
        </p>
</div>

