<div  class="container-fluid code">
    <img src="./assets/code/html.png" alt="logo html5" class="img-l" >
    <img src="./assets/code/css.png" alt="logo css" class="img-l" >
    <img src="./assets/code/js.png" alt="logo js" class="img-l" >
    <img src="./assets/code/php.png" alt="logo php" class="img-l" >
    <img src="./assets/code/laravel.png" alt="logo laravel" class="img-l" >
    <img src="./assets/code/java.png" alt="logo java" class="img-l" >
    <img src="./assets/code/spring.png" alt="logo spring" class="img-l" >
    <img src="./assets/code/bootstrap.png" alt="logo bootstrap" class="img-l" >
    <img src="./assets/code/bulma.png" alt="logo bulma" class="img-l" >
    <img src="./assets/code/mysql.png" alt="logo mysql" class="img-l" >
    <img src="./assets/code/mongo.png" alt="logo mongo" class="img-l" >
    <img src="./assets/code/express.png" alt="logo express" class="img-l">
    <img src="./assets/code/angular.png" alt="logo angular" class="img-l">
    <img src="./assets/code/node.png" alt="logo node" class="img-l">
</div>