<div class="container-fluid education">
    <div class="container-fluid formal">
        <h1>Formal Education</h1>
        <div class="edu">
           <img src="assets/cert/logo-uoc-default.png" alt="logo-uoc" class="cert">
            <h4>2022 - 2026 - APPLIED DATA SCIENCE - Universitat Oberta de Catalunya</h4>
            <p class="text">Programming relational Databases and NoSQL. 
                Working with frameworks as Angular, Laravel, SpringBoot 
                Operative system configurations, 
                Version controller</p>
        </div>
        <div class="edu">
            <img src="assets/cert/logo-uoc-default.png" alt="logo-uoc" class="cert">
            <h4>2019 - 2022 - WEB APPLICATION DEVELOPMENT - UOC Xtended studies</h4>
            <p class="text">Programming relational Databases and NoSQL. 
                Working with frameworks as Angular, Laravel, SpringBoot 
                Operative system configurations, 
                Version controller</p>
        </div>
        <div class="edu">
            <fa-icon [icon]="faSchool" class="icon"></fa-icon>
            <h4>2014 - 2016 - HIGH SCHOOL</h4>
        </div>
    </div>
    <div class="col-sm">
        <div class="container-fluid awd-cer">
            <h1>Adwards/Certificates</h1>
            <div class="awd">
                <img src="assets/cert/confluent.png" alt="logo-uoc" class="cert">
                <a href="https://drive.google.com/drive/u/1/folders/1Wr294JoOQ17WUcnc1lfZMsVbwvqxZVxA" target="blank"><p>Apache Kafka Event Streaming pipeline</p></a>
            </div>
            <div class="awd">
                <img src="assets/cert/confluent.png" alt="logo-uoc" class="cert">
                <a href="https://drive.google.com/drive/u/1/folders/1Wr294JoOQ17WUcnc1lfZMsVbwvqxZVxA" target="blank"><p>Apache Kafka Fundamentals</p></a>
            </div>
            <div class="awd">
                <img src="assets/cert/link.png" alt="logo-uoc" class="cert">
                <a href="https://drive.google.com/drive/u/1/folders/1Wr294JoOQ17WUcnc1lfZMsVbwvqxZVxA" target="blank"><p>Angular esencial 1</p></a>
            </div>
            <div class="awd">
                <img src="assets/cert/link.png" alt="logo-uoc" class="cert">
                <a href="https://drive.google.com/drive/u/1/folders/1Wr294JoOQ17WUcnc1lfZMsVbwvqxZVxA" target="blank"><p>Angular esencial 2</p></a>
            </div>
            <div class="awd">
                <img src="assets/cert/oracle.png" alt="logo-uoc" class="cert">
                <a href="https://drive.google.com/drive/u/1/folders/1Wr294JoOQ17WUcnc1lfZMsVbwvqxZVxA" target="blank"><p>Database programming with PL/SQL - Oracle</p></a>
            </div>
            <div class="awd">
                <img src="assets/cert/oracle.png" alt="logo-uoc" class="cert">
                <a href="https://drive.google.com/drive/u/1/folders/1Wr294JoOQ17WUcnc1lfZMsVbwvqxZVxA" target="blank"><p>Java Foundations - Oracle</p></a>
            </div>
            <div class="awd">
                <img src="assets/cert/js.png" alt="confluent-logo" class="cert">
                <a href="https://drive.google.com/drive/u/1/folders/1Wr294JoOQ17WUcnc1lfZMsVbwvqxZVxA" target="blank"><p>JavaScript Essentials 1 - JavaScript Institute</p></a>
            </div>
            <div class="awd">
                <img src="assets/cert/udemy.png" alt="logo-uoc" class="cert">
                <a href="https://drive.google.com/drive/u/1/folders/1Wr294JoOQ17WUcnc1lfZMsVbwvqxZVxA" target="blank"><p>Master in JavaScript: JS, jQuery, Angular, NodeJS</p></a>
            </div>
            <div class="awd">
                <img src="assets/cert/logo-uoc-default.png" alt="logo-uoc" class="cert">
                <a href="https://drive.google.com/drive/u/1/folders/1Wr294JoOQ17WUcnc1lfZMsVbwvqxZVxA" target="blank"><p>Acreditation in IT</p></a>
            </div>
            <div class="awd">
                <img src="assets/cert/google.png" alt="logo-uoc" class="cert">
                <a href="https://drive.google.com/drive/u/1/folders/1Wr294JoOQ17WUcnc1lfZMsVbwvqxZVxA" target="blank"><p>Initiation in wev development</p></a>
            </div>
        </div>

</div>