<nav class="navbar navbar-expand-lg container-fluid">
    <div class="collapse navbar-collapse container-fluid main" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          
          <a class="nav-link" routerLink= "/home"><fa-icon [icon]="faUser" class="icon" id="about"></fa-icon>About me</a>
        </li>
        <li class="nav-item">
          
          <a class="nav-link" routerLink="/education"><fa-icon [icon]="faBook" class="icon" id="education"></fa-icon>Education</a>
        </li>
        <li class="nav-item">
          
          <a class="nav-link" routerLink="/experience"><fa-icon [icon]="faBriefcase" class="icon" id="experience"></fa-icon>Experience</a>
        </li>
        <li class="nav-item">
          
          <a class="nav-link" routerLink="/proyects"><fa-icon [icon]="faDiagramProject" class="icon" id="proyects"></fa-icon>Proyects</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" routerLink="/contact"><fa-icon [icon]="faAddressCard" class="icon" id="contact"></fa-icon>Contact</a>
        </li>
      </ul>
    </div>
</nav>
