.container-fluid{
    background-color: #FFCC01;
}

li:hover a{
    background-color: #282828;
    transition: 300ms;
    color: white;
    cursor: pointer;
}
.icon{
    margin-right: 10px;
}

a{
    display: inline-block;
    margin-left: 10px;
    margin-right: 30px;
}
