<div class="container-fluid experience">
    <div class="container-fluid formal">
        <h1>Professional Experience</h1>
        <div class="exp">
            <img src="assets/experience/au.png" alt="logo-uoc" class="cert">
            <h4>2022 - Currently  - Junior Frontend Developer </h4>
            <h3>Aurelius Enterprise / Amsterdam</h3>
            <p>Programming with Angular, in a data governance solution, maintance the code and adding features to the frontend, working whit agile framework.</p>
        </div>
        <div class="exp">
            <img src="assets/experience/ntt.png" alt="logo-uoc" class="cert">
            <h4>2022 - 2022  - Intership </h4>
            <h3>NTT Data / Madrid</h3>
            <p >Programming with SpringBoot 4, in a Correos project for 
            industry sector.</p>
        </div>
        <div class="exp">
            <img src="assets/cert/logo-uoc-default.png" alt="logo-uoc" class="cert">
            <h4>2020 - 2022  - Student </h4>
            <h3>UOC / Barcelona</h3>
            <p >Studying Advanced Technician in web development</p>
        </div>
    </div>
</div>