
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">  
    <div class="text-center p-4 footer">
        <div class="me-5 d-none d-lg-block">
        <span><p>Develop with <fa-icon [icon]="faHeart" class="icon1"></fa-icon> by Americo Roca <fa-icon [icon]="faCopyright" class="icon1"></fa-icon> 2022</p></span>
          </div>
          <div>
            <a href="https://www.instagram.com/americo.roca/" target="blank"><fa-icon [icon]="faInstagram" class="icon"></fa-icon></a>
            <a href="https://www.linkedin.com/in/americochiclana/" target="blank"><fa-icon [icon]="faLinkedin" class="icon"></fa-icon></a>
            <a href="https://github.com/AmericoRoca" target="blank"><fa-icon [icon]="faGithub" class="icon"></fa-icon ></a>
          </div>
    </div>
    <!-- Copyright -->
</footer>